<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AgendaDigitalEntities" connectionString="metadata=res://*/Modelo.AgendaDigitalBD.csdl|res://*/Modelo.AgendaDigitalBD.ssdl|res://*/Modelo.AgendaDigitalBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=AgendaDigital;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>